body {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #263238;
}

.frame {
	width: 300px;
	height: 300px;
	background-color: #263238;
	border: 1px solid #37474f;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* flipcard */
.flipcard {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	animation: flipcard 1s linear infinite;
}

@keyframes flipcard {
	0% {
		transform: rotateX(0deg) rotateY(0deg);
		background-color: #827717;
	}
	30% {
		transform: rotateX(0deg) rotateY(180deg);
		background-color: #9e9d24;
	}

	100% {
		transform: rotateX(360deg) rotateY(360deg);
		background-color: #827717;
	}
}

/* flipcard2 */
.flipcard2 {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	animation: flipcard2 1s linear infinite;
}

@keyframes flipcard2 {
	0% {
		transform: rotateX(0deg) rotateY(0deg);
		background-color: #827717;
	}
	50% {
		transform: rotateX(0deg) rotateY(180deg);
		background-color: #9e9d24;
	}

	100% {
		transform: rotateX(180deg) rotateY(180deg);
		background-color: #827717;
	}
}

/* bounce */
.bounce {
	margin: 0;
	padding: 0;
	display: flex;
	border-bottom: 10px solid #827717;
}

.bounce li {
	list-style: none;
	width: 30px;
	height: 30px;
	background-color: #827717;
	margin: 0px 10px;
	border-radius: 50%;
	animation: bounce 0.5s linear infinite;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
		background-color: #827717;
	}
	50% {
		transform: translateY(-120px);
		background-color: #9e9d24;
	}

	100% {
		transform: rotateX(180deg) rotateY(180deg);
		background-color: #827717;
	}
}

.bounce li:nth-of-type(1) {
	animation-delay: 0.45s;
}
.bounce li:nth-of-type(2) {
	animation-delay: 0.25s;
}
.bounce li:nth-of-type(3) {
	animation-delay: 0.35s;
}
.bounce li:nth-of-type(4) {
	animation-delay: 0.55s;
}
.bounce li:nth-of-type(5) {
	animation-delay: 0.75s;
}

/* square-up */
.square-up {
	width: 50px;
	height: 50px;
	animation: square-up 1.3s linear infinite;
}

@keyframes square-up {
	0% {
		position: relative;
		top: -50px;
		left: -50px;
		background-color: #827717;
		transform: rotateX(180deg) rotateY(360deg);
	}

	25% {
		position: relative;
		top: -50px;
		left: 50px;
		background-color: #9e9d24;
	}
	50% {
		position: relative;
		top: 50px;
		left: 50px;
		background-color: #827717;
	}
	75% {
		position: relative;
		top: 50px;
		left: -50px;
		background-color: #9e9d24;
	}
	100% {
		position: relative;
		top: -50px;
		left: -50px;
		background-color: #827717;
	}
}
